html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  background-color: #eaeaea;
}

form {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #010132;
  padding: 24px 0;
}

input {
  width: 50%;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 13px;

  font-size: 18px;
}

button {
  background-color: #0855b1;
  border: none;
  border-radius: 8px;
  margin-left: 16px;
  padding: 8px 32px;

  color: #ffffff;
  font-size: 24px;
  font-weight: lighter;

  cursor: pointer;
}

.results__container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.results__link {
  color: #0855b1;
  font-size: 32px;
  padding: 24px 0;
}

.not-found-message {
  width: 100%;

  background-color: #010132;
  padding: 24px 0;

  color: #ffffff;
  text-align: center;
  font-size: 24px;
}
